{% extends "base.html" %}

{% block content %}
<h1 class="movie-title">Favorite Movies of {{ user.name }}</h1>

<form method="POST" action="/users/{{ user.id }}/movies" class="add-movie-form">
    <input type="text" name="name" placeholder="Movie name" required>
    <input type="number" name="year" placeholder="Year (optional)">
    <button type="submit" class="user-btn" >Add Movie</button>
</form>

<ul>
    {% for movie in movies %}
        <li class="movie-item">


            <div class="movie-info">
                {% if movie.poster_url %}
                    <img src="{{ movie.poster_url }}" alt="{{ movie.name }} poster" height="150">
                {% endif %}
                <div class="movie-text">
    <span class="movie-title">{{ movie.name }}</span>
    {% if movie.year %}
        <span class="movie-year">({{ movie.year }})</span>
    {% endif %}
</div>

            </div>

<div class="movie-actions">
    <form method="POST" action="{{ url_for('update_movie', user_id=user.id, movie_id=movie.id) }}">
        <input type="text" name="name" placeholder="New title" required>

        <div class="buttons">
            <button type="submit" >Update</button>

            <button
                formaction="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}"
                formmethod="POST"
                formnovalidate
                onclick="return confirm('Are you sure you want to delete this movie?');">
                Delete
            </button>
        </div>
    </form>
</div>
        </li>
    {% else %}
        <li>No movies yet for this user.</li>
    {% endfor %}
</ul>
{% endblock %}
